<div class="p-2">
    <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
      
      <div class="row">
        <div class="mt-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" placeholder="Transaction Title">
          </mat-form-field>
        </div>
  
        <div class="mt-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Amount</mat-label>
            <input matInput type="number" formControlName="amount" placeholder="Amount">
          </mat-form-field>
        </div>
  
        <div class="mt-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
              <mat-option value="1">Income</mat-option>
              <mat-option value="2">Expense</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div class="mt-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
  
        <div class="mt-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
              <mat-option *ngFor="let cat of arrayOfCategory" [value]="cat.id">{{cat.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>   
      </div>
  
      <div class="text-center">
        <button mat-raised-button color="primary" type="submit" [disabled]="transactionForm.invalid">Save Transaction</button>
      </div>
  
    </form>
  </div>
  