<mat-card class="border-0 mt-2" appearance="outlined">
    <mat-card-content style="margin-top: 5px;">
        <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [yaxis]="chartOptions.yaxis"
            [dataLabels]="chartOptions.dataLabels"
            [stroke]="chartOptions.stroke"
            [grid]="chartOptions.grid"
            [title]="chartOptions.title"
></apx-chart>
    </mat-card-content>
</mat-card>
  