<mat-card class="border-0" appearance="outlined">
    <mat-card-header>
      <span class="text-header">This Month</span>
    </mat-card-header>
    <mat-card-content style="margin-top: 5px;">
        <div class="row">
            <div class="col-6 text-success">
                <div><label>Income</label></div>
                <small class="income-amount-font">{{Income | currency:'INR':'symbol' }}</small>
            </div>
            <div class="col-6 text-danger">
                <div><label>Expense</label></div>
                <small class="expense-amount-font" >{{Expense | currency:'INR':'symbol' }}</small>
            </div>
        </div>
    </mat-card-content>
</mat-card>
  